APP_NAME=reco-commerce-api
API_V1_PREFIX=/api/v1
ENVIRONMENT=development

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/recommendly

POSTGRES_DB=recommendly
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

CORS_ORIGINS=["http://localhost:3000"]